vendor/
node_modules/
.env
.env.*
!.env.example
.git
tests/
*.md
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
.phpunit.result.cache
.idea/
.vscode/
